/* Experimental functionality to make using Discord with a smaller than minimum window size easier. */
.container_d1f8f5
{
  transition-property: margin-left;
  transition-duration: var(--dplus-anim-short);
  width: calc(var(--if-push-comes-to-shove, 0px) + 100%);
}

@media (max-width: 960px)
{  
  /* Sidebar shoving */
  .container_d1f8f5
  {
    --if-push-comes-to-shove: calc(var(--dplus-channels-width) + var(--dplus-icon-server-sidebar) + (var(--dplus-spacing-ui) * 2) - var(--dplus-scrollbar-width) - 32px);
  }
  .container_d1f8f5:not(:has(.sidebar_e031be:hover,.wrapper__216eb:hover))
  {
    margin-left: calc(var(--if-push-comes-to-shove) * -1);
  }
  /*
  Shoving variable explained:
    Positive is the stuff to shove off-screen. (channel list, server list)
    Negative is the visual anchor, the stuff we don't shove off-screen. (channel list scrollbar, rightmost buttons)
  */
  
  /* Remove inner app padding */
  .container_d1f8f5 .wrapper__216eb
  ,
  .container_d1f8f5 .sidebar_e031be
  {
    border-radius: 0px !important;
    --dplus-spacing-app: 0px;
  }
  .chat__52833
  {
    --dplus-spacing-app: 0px;
    --dplus-spacing-ui: 0px;
    --dplus-radius-ui: 0px;
  }
  /* Remove outer app padding */
  .appAsidePanelWrapper__5e6e2 .layers__1c917
  {
    margin: 0px !important;
  }
  /* (Windows-specific) Remove titlebar padding */
  .platform-win .typeWindows_e41dab
  {
    margin: 0px !important;
    border-radius: 0px !important;
    left: 0px !important;
  }
  .platform-win .wordmark__5b8c9
  {
    top: 0px;
    left: 16px;
  }

  /* Chat button adjustments */
  .clickable_ce0925:has([d="M9.7 2.89c.18-.07.32-.24.37-.43a2 2 0 0 1 3.86 0c.05.2.19.36.38.43A7 7 0 0 1 19 9.5v2.09c0 .12.05.24.13.33l1.1 1.22a3 3 0 0 1 .77 2.01v.28c0 .67-.34 1.29-.95 1.56-1.31.6-4 1.51-8.05 1.51-4.05 0-6.74-.91-8.05-1.5-.61-.28-.95-.9-.95-1.57v-.28a3 3 0 0 1 .77-2l1.1-1.23a.5.5 0 0 0 .13-.33V9.5a7 7 0 0 1 4.7-6.61ZM9.18 19.84A.16.16 0 0 0 9 20a3 3 0 1 0 6 0c0-.1-.09-.17-.18-.16a24.86 24.86 0 0 1-5.64 0Z"])
  , /* Notification settings; still accessible by right-clicking the channel in the sidebar. */
  .clickable_ce0925:has([d="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm-.28-16c-.98 0-1.81.47-2.27 1.14A1 1 0 1 1 7.8 7.01 4.73 4.73 0 0 1 11.72 5c2.5 0 4.65 1.88 4.65 4.38 0 2.1-1.54 3.77-3.52 4.24l.14 1a1 1 0 0 1-1.98.27l-.28-2a1 1 0 0 1 .99-1.14c1.54 0 2.65-1.14 2.65-2.38 0-1.23-1.1-2.37-2.65-2.37ZM13 17.88a1.13 1.13 0 1 1-2.25 0 1.13 1.13 0 0 1 2.25 0Z"])
  { /* Help button; press F1 or something. It's just a link. */
    display: none;
  }
  
  .searchBar__5a20a
  { /* Make the search bar a search "button" when not expanded to save on channel header space */
    width: 24px;
    padding: 0;
    .DraftEditor-root 
    {
      padding: 0px;
      .public-DraftEditorPlaceholder-root 
      {
        display: none !important;
      }
    }
  }
  
  @media (min-width: 320px)
  {
    /* Align popouts to the right. */
    .layer__6b5c3
    {
      right: var(--dplus-spacing-app) !important;
    }
    /* Remove chat padding */
    .messagesWrapper_add28b
    {
      --group-spacing: 0px !important;
    }

    /* Make settings a bit slimmer. */
    .standardSidebarView__12528
    {
      width: calc(218px - 16px + 100%);
      transition-property: margin-left !important;
      transition-duration: var(--dplus-anim-short) !important;
      --dplus-spacing-app: 0px;
      --dplus-radius-ui: 0px;
    }
    .standardSidebarView__12528:not(:has(.sidebarRegion__36437:hover))
    {
      margin-left: calc(-218px + 16px + var(--dplus-scrollbar-width));
    }
    .contentColumn__5f80b {
      max-width: calc(100vw - 64px - var(--dplus-scrollbar-width)) !important;
    }

    /* Okay. So you've made the window too small... */
    .contentRegion__08eba:before
    ,
    .contentRegion__08eba:after
    {
      color: var(--aiden);
      display: block;
      font-family: PixelPetit;
    }
    .contentRegion__08eba:before
    {
      font-size: 32px;
      padding: 32px;
      margin-right: 84px;
      text-align: center;
      top: 1rem;
    }
    .contentRegion__08eba:after 
    {
      font-size: 16px;
      padding: 24px;
      margin-right: 84px;
      top: 4rem;
    }
    
    @media (max-width: 512px)
    {
      .standardSidebarView__12528:not(:has(#profile-customization-tab))
      {
        .contentRegion__08eba
        {
          backdrop-filter: blur(128px);
          display: grid;
        }
        .contentRegion__08eba:before
        {
          content: "Oops.";
        }
        .contentRegion__08eba:after
        {
          content: "There's not enough pixels on the screen to show this page. Could you zoom out or make the window a bit wider?";
        }
        .contentColumn__5f80b
        {
          display: none;
        }
        .toolsContainer__4e6ad
        {
          left: calc(100vw - 80px);
          position: absolute;
          top: 0px;
        }
        @media (max-height: 128px)
        {
          .contentRegion__08eba:before
          {
            color: var(--aiden-sad);
            content: "(Maybe not...)" !important;
            font-size: 16pt !important;
            padding-left: 1rem;
          }
          .contentRegion__08eba:after
          {
            display: none !important;
          }
        }
      }
    }
    @media (max-width: 768px)
    {
      .standardSidebarView__12528:has(#profile-customization-tab)
      {
        .contentRegion__08eba
        {
          backdrop-filter: blur(128px);
          display: grid;
        }
        .contentRegion__08eba:before
        {
          content: "Hate to bother you, but...";
        }
        .contentRegion__08eba:after
        {
          content: "The Profiles page needs more width than what you have now. Would you mind zooming out or extending the window width?";
        }
        .contentColumn__5f80b
        {
          display: none;
        }
        .toolsContainer__4e6ad
        {
          left: calc(100vw - 80px);
          position: absolute;
          top: 0px;
        }
        @media (max-height: 128px)
        {
          .contentRegion__08eba:before
          {
            color: var(--aiden-sad);
            content: "(Am I that much of a nag...?)" !important;
            font-size: 16pt !important;
            padding-left: 1rem;
          }
          .contentRegion__08eba:after
          {
            display: none !important;
          }
        }
      }
    }
  }
  /* If the window gets too small */
  .wordmark__5b8c9
  {
    transition: all var(--dplus-anim-long);
  }
  @media (max-width: 320px)
  {
    .appAsidePanelWrapper__5e6e2 > *
    {
      display: none;
    }
    .wordmark__5b8c9
    {
      opacity: 0;
    }
    .appAsidePanelWrapper__5e6e2:before
    {
      background: var(--dplus-bgc-ui-base);
      color: var(--aiden);
      content: "It's getting a bit cramped in here. You should open up your window.";
      display: block;
      font-family: PixelPetit;
      font-size: 16px;
      height: 64px;
      margin: 16px;
      max-width: 168px;
      min-width: 168px;
      padding: 16px;
    }
    @media (max-width: 200px)
    {
      .appAsidePanelWrapper__5e6e2:before
      {
        content: "...";
        height: 16px;
        min-width: 16px;
      }
      @media (max-width: 64px)
      {
        .appAsidePanelWrapper__5e6e2:before
        {
          color: var(--aiden-sad);
          content: "Please?";
          font-size: 8px;
          margin: 0px;
          padding: 2px;
        }
      }
    }
  }
}
