//META{"name":"Discord+ (Latest Release)","description":"Are you tired of Discord's bland design? Do you want a better-looking Discord? Or something that feels nice to use?  Then this is the theme for you. This version of the theme automatically loads the latest release so you don't have to.","author":"Insta","version":"2.0+"}*//

@import url(https://raw.githubusercontent.com/PlusInsta/discord-plus/master/css/DiscordPlus_release.css):

:root {
	--background: url(https://i.imgur.com/3AiL3yN.png);
	--font: 'Product Sans';
	--roundness: 10px;
	--accent-color: rgba(135,31,96,0.8);
}