//META{"name":"Discord+","description":"Are you tired of Discord's bland design? Are you the type who loves variety? Do you wish Discord were more colorful? Then this theme is just the thing for you.","source":"https://github.com/PlusInsta/discord-plus/blob/master/DiscordPlus.theme.css","website":"https://plusinsta.github.io/discord-plus/","author":"PlusInsta","version":"2.2"}*//
@import url("https://rawgit.com/PlusInsta/discord-plus/master/DiscordPlus.theme.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700|Righteous");
:root {
	--background: url('https://i.imgur.com/3AiL3yN.png');
	--font: 'Poppins';
	--font-text: 'Roboto';
	--font-header: 'Righteous';
	--roundness: 10px;
	--accent-color: rgb(135,31,96);
}
