/**
 * @name Discord+
 * @description A sleek, customizable Discord theme. Have any questions? Stop by our support server by clicking the link below!
 * @source https://github.com/PlusInsta/discord-plus/blob/master/DiscordPlus.theme.css
 * @author PlusInsta
 * @authorLink https://plusinsta.carrd.co
 * @version 2.4.1
 * @website https://plusinsta.github.io/discord-plus/
 * @invite 2Jwh2nS
*/
@import url(//plusinsta.github.io/discord-plus/DiscordPlus.theme.css);

/* I've commented most of these values so you can change them yourself.
   If you're having trouble, or you want to do more than what these values
   allow for, drop by our server and we can probably help you out! */

/* Font import */
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700|Righteous);
/* This URL controls the fonts that we load from the web. Go to fonts.google.com
   and have a look! If there's any fonts you like, click them, select styles that
   are the closest to 400 and 700 (as that's what Discord uses for regular and
   bold formatted text), then click back onto the main page and repeat for any
   additional fonts you want. When you're done, click "View selected families"
   in the top right, click the Embed tab, and replace the line above with the "CSS
   rules" it gives you. Set the fonts below, refresh and you're done! */

:root {
/* Background image. Falls back to accent color if invalid.
   To use an image on your computer, send it anywhere on Discord,
   then right-click and Copy Link, then paste it below. */
--dplus-background: url(https://i.imgur.com/3AiL3yN.png);

/* Accent color, used to decorate the UI with colors. */
--dplus-accent-color: #802060;

/* Fonts */
  /* Display (Discord UI) */
--dplus-font-display: 'Poppins';
  /* Message body */
--dplus-font-text: 'Roboto';
  /* Names, titles & headers */
--dplus-font-names: 'Righteous';

/* Rounded corners sizes, measured in pixel radius
   Set avatar and guild radius to 50% if you want them to be circular
   Don't set UI radius to 50%, or else it'll completely break Discord! */
--dplus-avatar-radius: 20%;
--dplus-server-radius: 20%;
--dplus-ui-radius: 10px;

/* Blur percentage. Set to 100 for regular blur, 0 to disable blur.
   Performance may be affected by this option. */
--dplus-blur-scale: 100;

/* For advanced users. */
/*
--dplus-bg-dark-1: hsla(0, 0%, 0%, 0.68);
--dplus-bg-dark-2: hsla(0, 0%, 0%, 0.74);
--dplus-bg-dark-3: hsla(0, 0%, 0%, 0.82);
--dplus-bg-dark-4: hsla(0, 0%, 0%, 0.90);
--dplus-bg-light-1: hsla(0, 0%, 98%, 0.88);
--dplus-bg-light-2: hsla(0, 0%, 98%, 0.90);
--dplus-bg-light-3: hsla(0, 0%, 98%, 0.92);
--dplus-bg-light-4: hsla(0, 0%, 95%, 0.94);
*/
}

/* You can drop your custom CSS below here.
   If it doesn't work, try adding !important to the end of the affected value.
   If you need help with this, please don't hesitate to drop by our server! */
