/*
* This file styles plugins.
* Sorted alphabetically, first by author, then by plugin name.
*/

/* Plugins */
	/* by Arashiryuu */
		/* MemberCount */
#MemberCount {
	width: var(--dplus-members-width) !important;
	height: 20px;
	top: 10px !important;
	background: transparent !important;
}

#MemberCount .membersGroup-v9BXpm {
	padding: 10px;
}

#MemberCount .membersGroup-v9BXpm span {
	padding: 5px;
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui);
	background-color: var(--dplus-bgc-ui-base);
}

.membersWrap-2h-GB4.hasCounter .members-1998pB {
	margin-top: 0 !important;
}

	/* by DevilBro */
		/* BadgesEverywhere */
.BE-badge:last-of-type {
	margin-right: 0px;
}

		/* CharCounter */
#charcounter.normal {
	right: 10px !important;
	top: -10px;
	font-size: 10px;
}

		/* CreationDate / JoinedAtDate / LastMessageDate */
.userPopout-xaxa6l .headerText-2sdzFM.userSelectText-1o1dQ7 + .date-YN6TCS, .root-SR8cQa .nameTag-2IFDfL + .date-YN6TCS {
	margin-top: var(--dplus-spacing-ui);
}

		/* EditUsers */
.EditUsers-tag {
	text-transform: none;
	top: -1px !important;
	height: 15px;
	font-size: 12px;
	padding: 0 4px;
	vertical-align: middle;
}

		/* PluginRepo */
.flexChild-faoVW3 > div > div,
.DevilBro-notice {
	border-radius: var(--dplus-radius-ui) !important;
}

		/* SendLargeMessages */
.SendLargeMessages-modal #character-counter {
	margin-top: 10px;
	margin-bottom: 5px;
}

		/* TopRoleEverywhere */
.TRE-tag {
	border: none !important;
	margin-top: 1px;
	text-transform: none !important;
	font-size: 12px !important;
	text-shadow: 0px 0px 2px black;
	border-radius: var(--dplus-radius-ui) !important;
	padding: 0 4px !important;
}
.TRE-tag span {
	vertical-align: middle;
}

	/* by Ducko */
		/* Better Message Deletion */
.gm-deleted-message {
	background-color: hsl(0, 80%, 20%, 0.8) !important;
}

	/* by Puyodead1 */
		/* Staff Tags */
.ownertag {
	vertical-align: super !important;
}

	/* by Zerebos */
		/* BetterFormattingRedux */
.bf-toolbar {
	margin-left: 10px!important;
	margin-top: 20px;
}
.bf-toolbar::before {
	background: hsla(0, 0%, 0%, 0.68);
	border-radius: var(--dplus-radius-ui);
}
.bf-toolbar .format:hover {
	background: transparent !important;
}
.bf-toolbar .format img {
	transition: opacity var(--dplus-anim-short);
}
.bf-toolbar .format:hover img {
	opacity: 1;
}
