/*
 *  Discord+
 *
 *  Table of Contents
 * 1 Imports
 * 2 Default Values
 * 3 Background
 *  3.1 Image
 *    3.1.1 Transparent Mode / Light Mode Specifics
 *  3.2 Margins
 * 4 Fonts
 *  4.1 Display Font
 *  4.2 Text Font
 *  4.3 Names, Titles, and Headers Font
 * 5 Errors
 *  5.1 Loading page (disconnection)
 *  5.2 Crash page
 * 6 Scrollerbars
 * 7 Modals
 *  7.1 General Modal
 *  7.2 Server Create/Join Modal
 *  7.3 Custom Status Modal
 *  7.4 Quick Switcher Modal
 *  7.5 Keyboard Combo Modal
 *  7.6 Upload Modal
 *  7.7 Profile Modal
 * 8 Popouts
 *  8.1 General Popout
 *  8.2 Pins Popout
 *  8.3 Context Menu Popout
 *  8.4 Inbox
 *  8.5 Profile/Server Popout
 * 9 Titlebar
 *  9.1 General Titlebar
 *  9.2 Mac OS Buttons
 * 10 Sidebar (Visual Refresh)
 *  10.1 Guilds
 *  10.2 User Area
 *  10.3 Server/DMs list
 * 12 Main Content
 *  12.1 General Main Content
 *  12.2 Friends List
 *  12.3 Library/Nitro Tab
 *  12.4 Chat
 *    12.4.1 Message Seperation
 *    12.4.2 Pings
 *    12.4.3 Timestamps
 *    12.4.4 Embeds/Attachments
 *    12.4.5 Message Box
 *    12.4.6 Search Function
 *    12.4.7 Calling
 *  12.5 Explore Public Servers
 *  12.6 Members List
 *  12.7 Server Boost
 * 13 Avatars
 * 14 Settings
 * 15 Client Mod Specifics
 *		15.1 BetterDiscord

 */

/*--- 1 Imports ---*/
@import url('https://plusinsta.github.io/discord-plus/src/i11n.css');
@import url('https://plusinsta.github.io/discord-plus/src/DiscordPlus-extras.theme.css');
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Righteous&family=Kosugi&family=RocknRoll+One&family=Gothic+A1&family=Black+Han+Sans&family=PT+Sans+Caption&family=Russo+One&family=Palanquin+Dark&family=Raleway:wght@500&family=Commissioner&family=Alegreya+Sans:wght@700&family=Mitr&family=Lalezar&display=swap');

/*--- 2 Default Values ---*/
:root {
	/* Unit: size (e.g. pixels) */
	--dplus-radius-ui: 10px;
	--dplus-radius-avatar: 20%;
	--dplus-radius-server: 20%;

	--dplus-spacing-ui: 10px;
	--dplus-spacing-app: 10px;

	--dplus-icon-avatar-chat: 64px;
	--dplus-icon-avatar-list: 32px;
	--dplus-icon-avatar-profile: 80px;

	--dplus-scrollbar-width: 10px;
	--dplus-members-width: 240px;

	/* Unit: seconds */
	--dplus-anim-short: .2s;
	--dplus-anim-long: .5s;
	--dplus-anim-sticky: .2s;
	--dplus-anim-button: .25s;
	--dplus-anim-button-appear: .25s;

	/* Unit: percent (no symbol) */
	--dplus-blur-scale: 100;
}

.theme-dark {
	--dplus-backdrop: url(https://i.imgur.com/3AiL3yN.png);

	/* accent color is used for things like buttons */
	--dplus-accent-color-hue: 320; /* hue in HSL */
	--dplus-accent-color-saturation: 60%; /* saturation in HSL */
	--dplus-accent-color-lightness: 31%; /* lightness in HSL */

	/* foreground color affects icons, text, and many other things in the UI */
	--dplus-foreground-color-hue-base: 210; /* based on vanilla --text-normal hue */
	--dplus-foreground-color-hue-links: 197;
	--dplus-foreground-color-saturation-amount: 1; /* offset, where 1 is normal strength and 0.5 is -50 percentile, can go above 1 at risk of clipping */
	--dplus-foreground-color-lightness-amount: 1; /* ditto, 1 is normal and 0.5 is -50 percentile, can go above 1 at risk of clipping */

	/* background color affects the squares that darken the backdrop */
	--dplus-background-color-hue: 320;
	--dplus-background-color-saturation-amount: 1;
	--dplus-background-color-lightness-amount: 1;
	--dplus-background-color-alpha: 0.8; /* how opaque the backgrounds should be, where 1 is fully opaque and 0 is fully transparent. not recommended to set to 0 unless background is very dark or black */
	/* see help documentation on what will work with this variable: */
}
.theme-light {
	--dplus-backdrop: url(https://i.imgur.com/3AiL3yN.png);

	/* accent color is used for things like buttons */
	--dplus-accent-color-hue: 320; /* hue in HSL */
	--dplus-accent-color-saturation: 60%; /* saturation in HSL */
	--dplus-accent-color-lightness: 31%; /* lightness in HSL */

	/* foreground color affects icons, text, and many other things in the UI */
	--dplus-foreground-color-hue-base: 210;
	--dplus-foreground-color-hue-links: 197;
	--dplus-foreground-color-saturation-amount: 1; /* offset, where 1 is normal strength and 0.5 is -50 percentile, can go above 1 at risk of clipping */
	--dplus-foreground-color-lightness-amount: 1; /* ditto, 1 is normal and 0.5 is -50 percentile, can go above 1 at risk of clipping */

	--dplus-background-color-hue: 320;
	--dplus-background-color-saturation-amount: 1;
	--dplus-background-color-lightness-amount: 1;
	--dplus-background-color-alpha: 0.8; /* how opaque the backgrounds should be, where 1 is fully opaque and 0 is fully transparent. not recommended to set to 0 unless background is very light or white */
}

/* This marks the end of the default values section. */
/* The variables that follow are shorthands used by the developers. */
/* Please do not change them, as they are meant to be constants. */

.theme-dark {
	--dplus-background-color-lightness-025: 2.5%;
	--dplus-background-color-lightness-050: 5.0%;
	--dplus-background-color-lightness-075: 7.5%;
	--dplus-background-color-lightness-100: 10.0%;
	--dplus-background-color-lightness-125: 12.5%;
	--dplus-background-color-lightness-150: 15.0%;
	--dplus-background-color-lightness-200: 20.0%;
	--dplus-background-color-lightness-250: 25.0%;
	--dplus-background-color-lightness-500: 50.0%;
}

.theme-light {
	--dplus-background-color-lightness-025: 97.5%;
	--dplus-background-color-lightness-050: 95.0%;
	--dplus-background-color-lightness-075: 92.5%;
	--dplus-background-color-lightness-100: 90.0%;
	--dplus-background-color-lightness-125: 87.5%;
	--dplus-background-color-lightness-150: 85.0%;
	--dplus-background-color-lightness-200: 80.0%;
	--dplus-background-color-lightness-250: 75.0%;
	--dplus-background-color-lightness-500: 50.0%;
}
.theme-dark, .theme-light {
	--dplus-accent-ui: hsl(
		var(--dplus-accent-color-hue), var(--dplus-accent-color-saturation-factor), calc(var(--dplus-accent-color-lightness) * 1)
	);
	--dplus-accent-ui-hover: hsl(
		var(--dplus-accent-color-hue), calc(var(--dplus-accent-color-saturation-factor) * 1.1), calc(var(--dplus-accent-color-lightness) / 1.5)
	);

	--dplus-accent-color-saturation-factor: calc(var(--dplus-accent-color-saturation) * var(--saturation-factor, 1));
	--dplus-foreground-color-saturation-factor: calc(var(--dplus-foreground-color-saturation-amount, 1) * var(--saturation-factor, 1));
	--dplus-background-color-saturation-factor: calc(var(--dplus-background-color-saturation-amount, 1) * var(--saturation-factor, 1));

	--dplus-bgc-ui-base: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-025)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-ui-base-alpha-modifier, 100%)));
	--dplus-bgc-ui-base-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 60%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-050)), calc(var(--dplus-background-color-alpha) * (var(--dplus-bg-ui-base-alpha-modifier, 100%) + var(--dplus-bg-hover-alpha-modifier, 10%))));

	--dplus-bgc-ui-card: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * (60% * 1/2)), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-125)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-ui-card-alpha-modifier, 100%)));
	--dplus-bgc-ui-card-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * (75% * 1/2)), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-150)), calc(var(--dplus-background-color-alpha) * (var(--dplus-bg-ui-card-alpha-modifier, 100%) + var(--dplus-bg-hover-alpha-modifier, 10%))));

	--dplus-bgc-chatmsg: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-100)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-chat-alpha-modifier, 110%)));
	--dplus-bgc-chatmsg-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 60%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-075)), calc(var(--dplus-background-color-alpha) * (var(--dplus-bg-chat-alpha-modifier, 110%) + var(--dplus-bg-hover-alpha-modifier, 10%))));



	--dplus-bgc-popout: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-025)), calc(var(--dplus-background-color-alpha) * var(--dplus-bg-popout-alpha-modifier, 100%)));
	--dplus-bgc-button: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 40%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-500)), calc(var(--dplus-background-color-alpha) * 115%));
	--dplus-bgc-button-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 40%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-250)), calc(var(--dplus-background-color-alpha) * 115% + var(--dplus-bg-hover-alpha-modifier, 10%)));
	--dplus-bgc-server-button: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-150)), calc(var(--dplus-background-color-alpha) / 3 * 2));
	--dplus-bgc-server-button-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-200)), calc(var(--dplus-background-color-alpha) / 5 * 4));

	--dplus-bgc-radiobar-hover: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-150)), calc(var(--dplus-background-color-alpha) * 100% + var(--dplus-bg-hover-alpha-modifier, 10%)));
	--dplus-bgc-radiobar-selected: hsla(var(--dplus-background-color-hue), calc(var(--dplus-background-color-saturation-factor) * 50%), calc(var(--dplus-background-color-lightness-amount) * var(--dplus-background-color-lightness-200)), calc(var(--dplus-background-color-alpha) * 80%));
}

/* Disable animations for reduce-motion */
:root.reduce-motion {
	--dplus-anim-short: 0s;
	--dplus-anim-long: 0s;
	--dplus-anim-sticky: 0s;
	--dplus-anim-button: 0s;
	--dplus-anim-button-appear: 0s;
}

/* Colors */


.theme-light, .theme-dark, :root {
	/* There ain't no gettin' off this train, Cloud! */
	--theme-base-color-amount: calc( var(--dplus-background-color-saturation-factor) * 100% ) !important;
	--theme-base-color-hsl: var(--dplus-accent-color-hue) var(--dplus-accent-color-saturation) var(--dplus-accent-color-lightness) !important;
	--theme-base-color-dark-hsl: var(--dplus-accent-color-hue) var(--dplus-accent-color-saturation) var(--dplus-accent-color-lightness) !important;
	--theme-base-color-light-hsl: var(--dplus-accent-color-hue) var(--dplus-accent-color-saturation) var(--dplus-accent-color-lightness) !important;
	--theme-base-color: hsl(var(--dplus-accent-color-hue), var(--dplus-accent-color-saturation), var(--dplus-accent-color-lightness)) !important;
	--theme-base-color-dark: hsl(var(--dplus-accent-color-hue), var(--dplus-accent-color-saturation), var(--dplus-accent-color-lightness)) !important;
	--theme-base-color-light: hsl(var(--dplus-accent-color-hue), var(--dplus-accent-color-saturation), var(--dplus-accent-color-lightness)) !important;
}

/* Blur */
:root {
	--dplus-blur-ui: 2px;
	--dplus-blur-popout: 3px;
	--blurcalc-popout: blur(calc(var(--dplus-blur-popout) / 100 * var(--dplus-blur-scale)));
	--blurcalc-ui: blur(calc(var(--dplus-blur-ui) / 100 * var(--dplus-blur-scale)));
}

/* Placeholder text that should never show up */
:root {
	--dplus-i11n-missingno: "⚠️ Missing Internationalization String ⚠️";
}

/* Discord's variables */
.theme-dark, .theme-light {
	--background-surface-highest: var(--dplus-bgc-popout);
	--background-surface-higher: var(--dplus-bgc-ui-base-hover);
	--background-surface-high: var(--dplus-bgc-popout);
	--bg-surface-overlay: var(--background-surface-high);
	--user-profile-overlay-background: var(--dplus-accent-ui);
	--user-profile-overlay-background-hover: var(--dplus-accent-ui-hover);
	--background-base-low: var(--dplus-bgc-ui-base);
	--background-base-lower: var(--dplus-bgc-ui-base);
	--background-base-lowest: var(--dplus-bgc-ui-base);
	--background-floating: var(--dplus-bgc-popout) !important;
	--modal-background: var(--dplus-bgc-popout);
	--user-profile-toolbar-background:var(--dplus-accent-ui);
	--radio-group-dot-foreground: white;
	--bg-brand: var(--dplus-accent-ui);
	--background-brand: var(--dplus-accent-ui);
	--button-filled-brand-background: var(--dplus-accent-ui);
	--button-filled-brand-background-hover: var(--dplus-accent-ui-hover);
	--control-background-primary-default: var(--dplus-accent-ui);
	--control-primary-background-default: var(--dplus-accent-ui);
	--control-primary-background-hover: var(--dplus-accent-ui-hover);
	--bd-brand:var(--dplus-accent-ui);
	--background-accent: var(--dplus-accent-ui);
}

/*--- 3 Background ---*/
/* Quick and dirty fix for create a new server in dark mode */
.theme-dark .layer-1Ixpg3 .theme-light { /* the ones i actually need */
	--header-primary: #060607;
	--header-secondary: #4f5660;
	--text-normal: #2e3338;
	--interactive-normal: #4f5660;
}
/*-- 3.1 Image --*/
#app-mount {
background: var(--dplus-backdrop);
background-size: cover;
background-position: center;
}
body { background-color: var(--dplus-accent-ui); }
._51fd70792ee2e563-appMount, ._160d8e55254637e5-app, #app-mount ._960e4207cea8323e-bg {background-color: transparent;}
/*- 3.1.1 Transparent Mode / Light Mode Specifics -*/
.bd-transparency, .bd-transparency #app-mount {background: transparent;}
.theme-light .emoji, .theme-light .emoji.jumboable {
	filter: drop-shadow(0 0 1px #00000055);
}
.bd-pfbtn,
.bda-settings-button,
.wrapper-22ayhK,
.rtc-connection-status {
	padding-bottom: 2px;
}

/*-- 3.2 Margins --*/
._160d8e55254637e5-layers {margin: var(--dplus-spacing-app);}
._5e434347c823b592-content {margin-top: var(--dplus-spacing-app);}

/*--- 4 Fonts ---*/

/*-- 4.1 Display Font --*/
:root {
	--dplus-font-ui: 'Poppins';
	--dplus-font-ui-ja: 'Kosugi';
	--dplus-font-ui-ko: 'Gothic A1';
	--dplus-font-ui-ru: 'PT Sans Caption';
	--dplus-font-ui-vi: 'Raleway';
	--dplus-font-ui-el: 'Commissioner';
	--dplus-font-body: 'Roboto';
	--dplus-font-header: 'Righteous';
	--dplus-font-header-ja: 'RocknRoll One';
	--dplus-font-header-ko: 'Black Han Sans';
	--dplus-font-header-ru: 'Russo One';
	--dplus-font-header-hi: 'Palanquin Dark';
	--dplus-font-header-th: 'Mitr';
	--dplus-font-header-el: 'Alegreya Sans';

	--font-display: var(--dplus-font-ui), 'Poppins', var(--dplus-font-ui-ru), 'Comfortaa', var(--dplus-font-ui-vi), 'Raleway', var(--dplus-font-ui-ja), 'Kosugi',  var(--dplus-font-ui-ko), 'Gothic A1', var(--dplus-font-ui-el), 'Commissioner', '-apple-system', 'Helvetica Neue', 'system-ui', 'Tahoma', 'Segoe UI', 'Helvetica', 'Whitney', sans-serif !important;
	--font-primary: var(--font-display);
	--font-japanese: var(--font-display);
	--font-korean: var(--font-display);
	--font-chinese-simplified: var(--font-display);
	--font-chinese-traditional: var(--font-display);
}
body, button {
	font-family: var(--font-display);
}

/*-- 4.2 Text Font --*/
::placeholder, ::-webkit-input-placeholder, p, bodyarea, input, select, textarea,
._5126c0cd07f243a0-message, ._752971923a1e6683-markup, /*chat messages*/
.f75fb00fb7356cbe-form, /* message bar */
.c322aadb96ff59c9-search, /* search */
._91a9d7f7e5248a56-subText, /*member list body*/
.customStatusText-_4TbWr, /*user's custom status*/
.modeDefault-2fEh7a, /*settings small body*/
.emojiAliasPlaceholder_e7d73e, /*emoji name placeholder*/
._6ec1a06139ec3b27-topic, /*channel topic in chat header*/
.content_bf3bbb, /*channel topic popup body*/
.bd-description /*BD: plugin/theme desc*/ {
	font-family: var(--dplus-font-body), 'Roboto', '-apple-system', 'Helvetica Neue', 'system-ui', 'Arial', 'Helvetica', 'Whitney', sans-serif !important;
}
/*-- 4.3 Names, Titles, and Headers Font --*/
header, h1,
._91a9d7f7e5248a56-nameAndDecorators, /*name in member list*/
.c19a557985eb7793-username, /*username in chat*/
._37e49614b9f110a9-nameTag, /*your username in the bottom-left*/
.detailsInner_de8f28, /*settings: your username in My Account*/
._2ef4989efde1f4e4-activityName, /*user's activity name, includes song and author titles*/
.emojiUploader-1f0pVx, /*server settings: emoji's uploader*/
.userHook-3AdCBF, /*server settings: username in audit log*/
.secondaryHeader-2oeRPO, /*server settings: integrations row headers such as bot names*/
._48c1c0768f2a2421-roleName, /*role name in profile*/
.c8ffbb79449f399c-membersGroup, /*role name in member list*/
._752971923a1e6683-roleMention, /*role name mention in chat*/
.wrapper_d4fa29, /*username or channel name mention in chat*/
[data-slate-object="inline"] .mention, /*mention in message box*/
._29444ba32c7fbeab-name, /*category name in sidebar*/
._2ea32c412048f708-name, /*channel name in sidebar*/
._9293f6b2fc12398a-title, /*channel name in chat header*/
.bd-author, .bd-meta .bd-link, /*BD: plugin/theme author*/
.c19a557985eb7793-timestamp /*chat message hover timestamp (counts as a header)*/ {
	font-family: var(--dplus-font-header), 'Righteous', var(--dplus-font-header-ja), 'RocknRoll One', var(--dplus-font-header-ko), 'Black Han Sans', var(--dplus-font-header-ru), 'Russo One', var(--dplus-font-header-hi), 'Palanquin Dark', var(--dplus-font-header-th), 'Mitr', var(--dplus-font-header-el), 'Alegreya Sans', 'Lalezar', 'Century Gothic', 'Franklin Gothic Medium', 'Britannic', 'Helvetica Neue', 'Helvetica', 'Whitney', sans-serif !important;
}

/*--- 5 Errors ---*/

/*-- 5.1 Loading page (disconnection) --*/
.a2f5142ba8328dfd-container { background-color: hsla(0, 0%, 0%, 0.68) }
.quote-3aooyW {
	font-size: 20px !important;
	margin-bottom: 0px !important;
}
.status-1JTY3j, .a2f5142ba8328dfd-problemsText {
	color: white;
	text-transform: none;
	font-size: 16px !important;
}
.attribution-aTC3hS, .a2f5142ba8328dfd-links {font-size: 0px !important;}
.twitterLink_dae605:before,
.statusLink__7b889:before {
	background-size: 24px 24px;
	height: 24px;
	width: 24px;
}

/*-- 5.2 Crash page --*/
._01b8da2711bed5ad-errorPage {
	width: calc(100% - var(--dplus-spacing-app) * 2)
}
._61a6bac39bf12a0c-wrapper {
	min-height: calc(100vh - var(--dplus-spacing-app) * 2)
}
.theme-dark ._61a6bac39bf12a0c-wrapper,
.theme-light ._61a6bac39bf12a0c-wrapper {
	background: var(--dplus-bgc-ui-base);
	margin: var(--dplus-spacing-app) calc(var(--dplus-spacing-app) * 2) var(--dplus-spacing-app) var(--dplus-spacing-app);
	border-radius: var(--dplus-radius-ui);
}

/*--- 6 Scrollerbars ---*/
.theme-dark ::-webkit-scrollbar-track-piece,
.theme-dark .theme-light ::-webkit-scrollbar-track-piece,
.theme-light .theme-dark ::-webkit-scrollbar-track-piece {
    background:  hsla(0,0%,0%,0.3)!important;
    border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui);
}
.theme-light ::-webkit-scrollbar-track-piece {
    background:  hsla(0,0%,100%,0.3)!important;
    border: none!important;
}
::-webkit-scrollbar-thumb {
    background: var(--dplus-accent-ui)!important;
    border: none!important;
    border-radius: var(--dplus-radius-ui);
}
::-webkit-scrollbar {
    width: var(--dplus-scrollbar-width) !important;
}
::-webkit-scrollbar-track {
    background: transparent!important;
    border: none!important;
}
.ef3116c2da186559-scroller::-webkit-scrollbar {width: 0!important;}
/*--- 7 Modals ---*/

/*-- 7.1 General Modal --*/
.bc663cf6190ce9ad-layer, ._49fc18ba07c5025f-root {
	--modal-footer-background: transparent;
}
/*-- 7.2 Server Create/Join Modal --*/

/*-- 7.3 Custom Status Modal --*/

/*-- 7.4 Quick Switcher Modal --*/

/*-- 7.5 Keyboard Combo Modal --*/

/*-- 7.6 Upload Modal --*/

/*-- 7.7 Profile Modal --*/
.user-profile-modal-v2 .c0bea05627c5dc35-inner {
	padding: var(--dplus-spacing-ui);
}
/*--- 8 Popouts ---*/

/*-- 8.1 General Popout --*/

/*-- 8.2 Pins Popout --*/

/*-- 8.3 Context Menu Popout --*/

/*-- 8.4 Inbox --*/ /* Fix */

/*-- 8.5 AutoComplete --*/
._13533e3c5791980f-autocomplete {
	background-color: var(--dplus-bgc-popout);
	inset-inline: 0;
}
._13533e3c5791980f-clickable[aria-disabled=false]>._13533e3c5791980f-base:hover, ._13533e3c5791980f-clickable[aria-selected=true]>._13533e3c5791980f-base {background-color: var(--dplus-accent-ui-hover);}
/*-- 8.6 Stickers/Emoji/Gif Tab --*/

/*-- 8.7 Profile/Server Popout --*/
._68edb95846a37624-mask circle {
	display: none;
}
/*--- 9 Titlebar ---*/

/*-- 9.1 General Titlebar --*/
/* settings bg, offset to go behind titlebar */
._960e4207cea8323e-layer:has(._23e6b439306f125a-standardSidebarView) {margin-top: calc(32px + var(--dplus-spacing-app));}
.c38106a3f0c3ca76-systemBar {
	margin: var(--dplus-spacing-app);
}
.c38106a3f0c3ca76-bar {
	background-color: var(--dplus-bgc-ui-base);
	border-radius: var(--dplus-radius-ui);
}

/*-- 9.2 MacOS Buttons --*/
._421edea01cb52e16-typeMacOS {
	background: var(--dplus-bgc-ui-base);
	border-radius: 0 0 var(--dplus-radius-ui) 0;
}
.platform-osx ._5e434347c823b592-guilds {
	padding-top: 8px;
	margin-top:calc(20px + var(--dplus-spacing-app));
}

/*--- 10 Sidebar (Visual Refresh) ---*/
	/*-- 10.1 Guilds --*/
._5e434347c823b592-guilds {
	margin: 0 var(--dplus-spacing-ui) calc(var(--custom-app-panels-height, 0) + var(--dplus-spacing-ui) ) 0;
	padding-top: var(--dplus-spacing-app);
	border-radius: var(--dplus-radius-ui);
	mask: none
}
._252b6afd49fda06f-guildSeparator {display: none}
._5e434347c823b592-guilds foreignObject {mask: none; overflow: visible;}
._5e434347c823b592-guilds ._650eb104245d257b-listItem :not(span) {border-radius: var(--dplus-radius-server);}
._5bc7ed9d4097f6b5-circleIconButton {
	background-color: var(--dplus-bgc-server-button);
	color: var(--dplus-accent-ui);
	&:hover, &._5bc7ed9d4097f6b5-selected {background-color: var(--dplus-bgc-server-button-hover);}
}
	/*-- 10.2 User Area --*/
._5e434347c823b592-panels {
	width: calc(100% - var(--dplus-spacing-ui));
	left: 0; bottom: 0;
}
	/*-- 10.3 Server/DM Sidebar --*/
._5e434347c823b592-sidebarList {
	margin-right: var(--dplus-spacing-app);
	margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--dplus-spacing-ui) );
	border-radius: var(--dplus-radius-ui);
}
._99e7cad8d4c55236-scroller {
	background: transparent;
	margin-bottom: 0;
}
._972a0d22c8afa7f0-channel {
	margin: 0 var(--dplus-spacing-ui);
	border-radius: var(--dplus-radius-ui);
}
._2ea32c412048f708-wrapper {
	margin: 0 var(--dplus-spacing-ui);
	padding: 0 calc(var(--dplus-spacing-ui) / 2);
	border-radius: var(--dplus-radius-ui);
}
._2637a2609f343032-container {padding-bottom: 0;}
._5e434347c823b592-sidebar:after {display: none;}
.c69b6db0641110f6-iconVisibility ._2ea32c412048f708-children {margin-right: calc(0px - var(--dplus-spacing-ui));}
._7aaec78b97ff00f7-bottom {bottom: var(--dplus-spacing-ui);}
._972a0d22c8afa7f0-iconsContainer {padding: 0;}
#app-mount ._972a0d22c8afa7f0-closeButton, .c69b6db0641110f6-iconItem {
	display: block;
	opacity: 0;
	margin-right: calc(var(--dplus-spacing-ui) - var(--dplus-spacing-ui) * 1.5);
	transition: var(--dplus-anim-button-appear);
	:is(._972a0d22c8afa7f0-channel:hover, .c69b6db0641110f6-iconVisibility:hover, .c69b6db0641110f6-selected) & {
		opacity: 0.6;
		margin-right: var(--dplus-spacing-ui);
	}
}
/*--- 12 Main Content ---*/

	/*-- 12.1 General Main Content --*/
._5e434347c823b592-sidebar + main, ._5e434347c823b592-sidebar + div {
	border-radius: var(--dplus-radius-ui);
	overflow: hidden;
}

/*-- 12.2 Friends List --*/
._133bf5eea8e33a34-tabBody, ._133bf5eea8e33a34-nowPlayingColumn, ._133bf5eea8e33a34-container ._9293f6b2fc12398a-container._9293f6b2fc12398a-themed, ._7d20cf18f8a2784c-container {background: transparent;}

#app-mount .f8fa068db52f043f-actionButton, #app-mount .bf1984a18b3ec6f0-inset {
	background-color: var(--dplus-accent-ui);
	border-radius: var(--dplus-radius-ui);
}

/*-- 12.3 Library/Nitro/Shop Tab --*/

/*-- 12.4 Chat --*/
#app-mount .f75fb00fb7356cbe-chat, .f75fb00fb7356cbe-chatContent, ._5126c0cd07f243a0-replying:before, ._36d072eab2b2e737-chatGradient, ._36d072eab2b2e737-chatGradientBase  {
background: transparent;
}

.fc817765600a960a-wrapper, #app-mount ._9293f6b2fc12398a-children:after {display: none;}
.group-spacing-0 { --group-spacing: 0px; }
.group-spacing-4 { --group-spacing: 4px; }
.group-spacing-8 { --group-spacing: 8px; }
.group-spacing-16 { --group-spacing: 16px; }
.group-spacing-24 { --group-spacing: var(--dplus-spacing-ui); }
:is(._5126c0cd07f243a0-messageListItem, ._5126c0cd07f243a0-quotedChatMessage) ._5126c0cd07f243a0-message {
	background: var(--dplus-bgc-chatmsg);
}

._5126c0cd07f243a0-messageListItem ._5126c0cd07f243a0-groupStart, ._034365f2217df5de-flash._5126c0cd07f243a0-groupStart, ._5126c0cd07f243a0-quotedChatMessage ._5126c0cd07f243a0-groupStart {
	border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;
	margin-top: 0;
}
:not(._5126c0cd07f243a0-divider) + ._5126c0cd07f243a0-messageListItem:has(._5126c0cd07f243a0-groupStart), ._5126c0cd07f243a0-messageListItem + ._034365f2217df5de-flash:has(.c19a557985eb7793-avatar) {
	margin-top: var(--group-spacing);
}
.c19a557985eb7793-wrapper:hover, .c19a557985eb7793-wrapper._5126c0cd07f243a0-selected {
	background: var(--dplus-bgc-chatmsg-hover) !important;
}
._36d072eab2b2e737-scrollerSpacer { height: 0; }
.c19a557985eb7793-wrapper.c19a557985eb7793-cozy.c19a557985eb7793-zalgo[aria-labelledby*="upload"] {background-color: var(--dplus-bgc-chatmsg);}
.c19a557985eb7793-cozy .c19a557985eb7793-repliedMessage {max-width: 100%;}
/* Beginning of chat */
._00de6f6c14b53606-container {
	background: var(--dplus-bgc-chatmsg);
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui);
	margin: 0;
	padding: var(--dplus-spacing-ui);
}
._9293f6b2fc12398a-container._9293f6b2fc12398a-themed {
	background: var(--dplus-bgc-ui-base);
}
._34c2c51cfce1632e-container { /* Forum specific; reactions, following, copy link */
	margin-top: 0px;
	border-top: none;
}
._36d072eab2b2e737-empty, ._36d072eab2b2e737-emptyForum { /* Spacing at the bottom */
	display: none;
}
/* New/Old/Load messages bar */
._0f481cbbd7530492-newMessagesBar {
	background-color: var(--dplus-accent-ui);
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui);
}
._0f481cbbd7530492-newMessagesBar button:last-child {
	font-size: 12px;
	text-transform: lowercase;
}
._0f481cbbd7530492-barBase {
	padding: 0;
	left: 0; right: 0;
}
#app-mount ._0f481cbbd7530492-jumpToPresentBar {
background-color: var(--dplus-accent-ui);
border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;
bottom: 0;
padding: 0;
cursor: pointer;
z-index: 2;
}
/*- 12.4.1 Message Seperation -*/
:is(._5126c0cd07f243a0-messageListItem, ._5126c0cd07f243a0-quotedChatMessage, ._034365f2217df5de-flash):has(+ ._5126c0cd07f243a0-messageListItem ._5126c0cd07f243a0-groupStart,  + ._034365f2217df5de-flash ._5126c0cd07f243a0-groupStart, + ._36d072eab2b2e737-scrollerSpacer, + ._5126c0cd07f243a0-divider) ._5126c0cd07f243a0-groupStart:has(.c19a557985eb7793-avatar:not(.c19a557985eb7793-compact)) 	{
	min-height: calc(var(--dplus-spacing-ui)*2 + var(--dplus-icon-avatar-chat));
	padding-top: 0; padding-bottom: 0;
}
.c19a557985eb7793-cozy.c19a557985eb7793-wrapper {padding-left: calc(var(--dplus-icon-avatar-chat) + var(--dplus-spacing-ui) * 2);}
._5126c0cd07f243a0-message {border-radius: 0;}
._5126c0cd07f243a0-groupStart,
._5126c0cd07f243a0-divider + :is(._5126c0cd07f243a0-messageListItem, ._034365f2217df5de-flash) ._5126c0cd07f243a0-message {
	border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;
}
:is(._5126c0cd07f243a0-messageListItem,._034365f2217df5de-flash):has(+ ._5126c0cd07f243a0-messageListItem ._5126c0cd07f243a0-groupStart, + ._5126c0cd07f243a0-divider, + ._36d072eab2b2e737-scrollerSpacer, + ._034365f2217df5de-flash ._5126c0cd07f243a0-groupStart) ._5126c0cd07f243a0-message {
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui);
}
:is(._5126c0cd07f243a0-messageListItem,._034365f2217df5de-flash):has( + ._5126c0cd07f243a0-messageListItem ._5126c0cd07f243a0-groupStart, + ._5126c0cd07f243a0-divider, + ._36d072eab2b2e737-scrollerSpacer, + ._034365f2217df5de-flash ._5126c0cd07f243a0-groupStart) ._5126c0cd07f243a0-groupStart,
._5126c0cd07f243a0-divider + :is(._5126c0cd07f243a0-messageListItem, ._034365f2217df5de-flash):has(+ ._5126c0cd07f243a0-messageListItem ._5126c0cd07f243a0-groupStart) ._5126c0cd07f243a0-message {
	border-radius: var(--dplus-radius-ui);
}
/* Forum */
._01ae244280823725-container:not(._01ae244280823725-floating), .visual-refresh .f369dba7416c67f0-container, .d9be463a3c35b91e-form ._0ed4fc708cdbac0d-input {
	background-color: transparent!important;
}
._01ae244280823725-floating {filter: none;}

/* group-spacing 0 */
.group-spacing-0 ._5126c0cd07f243a0-message {
	border-radius: 0!important;
}
.group-spacing-0 ._5126c0cd07f243a0-messageListItem:has(+ ._36d072eab2b2e737-scrollerSpacer) ._5126c0cd07f243a0-message {
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui)!important;
}
/*- 12.4.2 Pings / Jump to Message -*/
._5126c0cd07f243a0-mentioned:before {
	display: none;
}

._5126c0cd07f243a0-mentioned :not(.c19a557985eb7793-repliedTextPreview) > .c19a557985eb7793-messageContent, ._5126c0cd07f243a0-mentioned .b7e1cb0370c2dd0e-container {
	padding-left: 0;
	margin-left: 0;
	background-color: hsl(var(--yellow-300-hsl)/0.2);
	border-radius: var(--dplus-radius-ui);
}
._034365f2217df5de-flash ._5126c0cd07f243a0-message {
	background-color: var(--dplus-bgc-chatmsg);
	animation: fader 7s ;
}
@keyframes fader {
	0% {
		background-color: hsla(var(--dplus-accent-color-hue), var(--dplus-accent-color-saturation), var(--dplus-accent-color-lightness), 80%);
	}
	50% {
		background-color: var(--dplus-bgc-chatmsg-hover);
	}
	100% {
		background-color: var(--dplus-bgc-chatmsg);
	}
}

/*- 12.4.3 Timestamps + Chat Separators -*/
._5126c0cd07f243a0-divider:not(._908e20001ad67812-hasContent) {margin: 0; top: 0!important;}
._5126c0cd07f243a0-divider._5126c0cd07f243a0-beforeGroup, ._5126c0cd07f243a0-divider._5126c0cd07f243a0-hasContent {margin-top: var(--group-spacing)!important;}
._5126c0cd07f243a0-divider:not(#---new-messages-bar) {
	border: none;
	height: fit-content;
	margin-top: var(--group-spacing)!important;
}
._5126c0cd07f243a0-divider._5126c0cd07f243a0-hasContent {
	margin-left: 0 !important;
	margin-bottom: 0!important;
	justify-content: start;
}

._36d072eab2b2e737-messagesWrapper:not(.group-spacing-0) ._5126c0cd07f243a0-divider ._908e20001ad67812-content {
	margin-left: var(--dplus-radius-ui) !important;
}
._36d072eab2b2e737-messagesWrapper.group-spacing-0 ._5126c0cd07f243a0-divider._5126c0cd07f243a0-hasContent {margin: 0;}
._908e20001ad67812-content {border-radius: var(--dplus-radius-ui) var(--dplus-radius-ui) 0 0;}
/*in chat timestamps*/
.c19a557985eb7793-timestampVisibleOnHover {
	transition: var(--dplus-anim-short);
	& time {
		padding: calc(var(--dplus-spacing-ui) / 2);
		background: var(--dplus-bgc-popout);
		border-radius: var(--dplus-radius-ui);
		&:nth-child(2) {
			margin-left: var(--dplus-spacing-ui);
		}
	}
	&.c19a557985eb7793-alt {
		left: calc(-5px + var(--dplus-spacing-ui) / 2) !important
	}
}
.c19a557985eb7793-timestamp.c19a557985eb7793-alt,
.c19a557985eb7793-compact .c19a557985eb7793-timestamp {
	width: 64px !important;
}
/*- 12.4.4 Embeds / Attachments -*/
._623de82e76ad7f82-embed {
	border-radius: var(--dplus-radius-ui);
}
#app-mount ._0ccaee68b77c7469-fileWrapper,
#app-mount .wrapper_f316dd {
background-color: var(--dplus-bgc-popout)!important;
border-color: var(--dplus-accent-ui) !important;
}
._0ccaee68b77c7469-fileWrapper,
.wrapper_f316dd, /*undone*/
.cf09d85aafe7e124-audioControls,
.cf09d85aafe7e124-videoControls {
	border-radius: var(--dplus-radius-ui) !important;
}

/*- 12.4.5 Message Box -*/
.f75fb00fb7356cbe-form, .visual-refresh .f75fb00fb7356cbe-form {
	border-top: none;
	box-shadow: none;
	margin: 0;
	margin-right: var(--dplus-scrollbar-width);
	display: flex;
	padding: 0;
	flex-direction: column-reverse;
}
.visual-refresh-chat-input .f75fb00fb7356cbe-channelBottomBarArea {margin: 0;}
.visual-refresh .f75fb00fb7356cbe-channelTextArea {background-color: var(--dplus-bgc-chatmsg);}
._740174f3d6a2c8fe-sansAttachButton {
	padding: calc(2px + (var(--dplus-spacing-ui) / 2));
	padding-top: calc(2px + (var(--dplus-spacing-ui) / 8));
	padding-bottom: calc(2px + (var(--dplus-spacing-ui) / 8));
}
._740174f3d6a2c8fe-channelTextArea {
	padding-top: 24px;
	background-color: transparent;
	margin-top: var(--dplus-spacing-app) !important;
	margin: var(--dplus-spacing-ui) 0 0;
}
:root:not(.reduce-motion) .f75fb00fb7356cbe-channelBottomBarArea:not(:has(~ .b8880176888cc928-base)) .f75fb00fb7356cbe-channelTextArea {
	padding-top: 0px;
	transition-property: padding-top;
	transition-duration: var(--dplus-anim-long);
	transition-delay: var(--dplus-anim-long);
}
:root:not(.reduce-motion) .channelTextAreaContainer_d0696b:has(~ .b8880176888cc928-base) { /*undone*/
	padding-top: 24px;
	transition-property: padding-top;
	transition-duration: var(--dplus-anim-short);
}
._44df51b030bd5ece-wrapper {
	height: 12px;
	background: var(--dplus-bgc-ui-card);
	margin-top: var(--dplus-spacing-app);
	margin-bottom: 0;
	border-radius: var(--dplus-radius-ui);
}
.b8880176888cc928-base {
	top: calc(var(--dplus-spacing-app) / 2)!important;
	position: relative;
}
.b8880176888cc928-typingDots, .b216994de061a9e2-cooldownWrapper {
	background: var(--dplus-bgc-ui-card);
	border-radius: var(--dplus-radius-ui);
	padding-right: 0.25rem;
}
._740174f3d6a2c8fe-scrollableContainer {
	overflow-y: auto;
	background-color: var(--dplus-bgc-chatmsg);
	border-radius: var(--dplus-radius-ui);
}
.f75fb00fb7356cbe-form:before, .f75fb00fb7356cbe-form:after {
	display: none;
} /* Random gradient? Does this do anything? */
.webkit__8d35a ._740174f3d6a2c8fe-buttons {
	margin-right: calc(var(--dplus-spacing-ui) - 6px);
}
._740174f3d6a2c8fe-stackedBars + ._740174f3d6a2c8fe-scrollableContainer {
	border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui);
}

.channelAppLauncher_e6e74f {
	margin-bottom: calc(var(--dplus-spacing-ui) / 2);
	& .e6e74fd4d1221f53-button {background-color: var(--dplus-bgc-chatmsg);}
}
/*- 12.4.6 Search Function -*/
/* Search */
.search-1FM8Qc .searchBar-zdmu7v {
	transition-duration: var(--dplus-anim-short);
}
._16eb0bfd5c5a90d1-option:after {display: none;}
#app-mount ._55c999adcf6db265-container {
background-color: var(--dplus-bgc-popout);
border-radius: var(--dplus-radius-ui);
width: 404px!important;
margin-left: -68px;
}
#app-mount .option-2KkUJO.selected-rZcOL- {
background-color: var(--dplus-accent-ui);
border-radius: var(--dplus-radius-ui);
}
#app-mount .bd818628221af7aa-searchAnswer, #app-mount .bd818628221af7aa-searchFilter,  #app-mount .jumpButton-JkYoYK {
background-color: var(--dplus-accent-ui)!important;
color: white;
}
.channelName-3w2Y3c {
	background: var(--dplus-accent-ui);
	color: white;
	border-radius: var(--dplus-radius-ui);
	padding: 8px;
	opacity: 0.6;
}

._80bf8435713f6adb-searchResult.expanded-w_LCGl {
	border: 1px solid var(--dplus-accent-ui) !important;
	border-radius: var(--dplus-radius-ui) !important;
}
._80bf8435713f6adb-searchResult:after, ._80bf8435713f6adb-searchResult:before {
	background: none;
	border: none !important;
	border-radius: var(--dplus-radius-ui) !important;
	box-shadow: none !important;
}
._55c999adcf6db265-queryContainer._55c999adcf6db265-focused {
	background: var(--dplus-bgc-ui-base);
}
#app-mount ._2b2f1bb918566c48-elevationBorderHigh {box-shadow: none;}

/* Calendar picker */
#app-mount .d27f17593b8064c5-calendarPicker .react-datepicker {
background-color: var(--dplus-bgc-ui-base) !important;
margin-left: 46px;
}
#app-mount .d27f17593b8064c5-calendarPicker .react-datepicker__day:not(.react-datepicker__day--disabled):hover,
#app-mount .d27f17593b8064c5-calendarPicker .react-datepicker__day.react-datepicker__day--selected:after,
#app-mount .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY {
background-color: var(--dplus-accent-ui) !important;
}
#app-mount .d27f17593b8064c5-calendarPicker .react-datepicker__day {
border-color: black !important;
}
#app-mount .d27f17593b8064c5-calendarPicker div {
background-color: transparent !important;
}
.react-datepicker__day {
	transition: var(--dplus-anim-short);
}
/*- 12.4.7 Calling -*/
._1405b3b8e8eb5fd0-controlButton foreignObject {mask: none;}
#app-mount .cb9592ad77576717-wrapper {
background-color: var(--dplus-bgc-ui-base)!important;
}
._2f4f7eb58b61c328-videoWrapper, :not(:root):-webkit-full-screen::backdrop, .cb9592ad77576717-callContainer, .visual-refresh .bfe55a0aaaf62375-root {background-color: transparent;}
._94748c73ac5ff785-videoHeight._94748c73ac5ff785-noChat {
	height: 100%;
}
.f1ceaca61b18918e-centerButton, .avatarSpeaking__44b0c, .f910d08f42c82225-border.speaking_f910d0 {border-radius: var(--dplus-radius-avatar);}
.f1ceaca61b18918e-colorable.f1ceaca61b18918e-primaryDark {
	background-color: var(--dplus-bgc-ui-base);
	&:hover {background-color: var(--background-accent);}
}
.fb62e279d3f0a88a-background {background-color: var(--dplus-bgc-ui-base)!important;}
._01ae244280823725-resizeHandle, .cb9592ad77576717-channelChatWrapper {background: transparent;}
/*-- 12.5 Explore Public Servers --*/ /*Possibly Outdated*/
#app-mount .guildIcon_e90879 {
background-color: var(--dplus-accent-ui);
border-radius: var(--dplus-radius-ui);
}
.card_e90879 {
	background-color: var(--dplus-bgc-ui-card) !important;
	&:hover {background-color: var(--dplus-bgc-ui-card-hover) !important;}
}
.categoryPill-1zjNrr.selected-bLcqYK {
	background-color: var(--dplus-accent-ui);
}
/*-- 12.6 Members List --*/
.c8ffbb79449f399c-member._91a9d7f7e5248a56-clickable:hover ._91a9d7f7e5248a56-layout {
	transition: background-color var(--dplus-anim-short);
}
._5d473ecff348c314-member, .c8ffbb79449f399c-member, .c8ffbb79449f399c-members {background: none;}
/*this class is the whole member list*/
.c8ffbb79449f399c-container>div {
	background: transparent;
	background-color: transparent;
	border-bottom-left-radius: var(--dplus-radius-ui);
	border-bottom-right-radius: var(--dplus-radius-ui);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.c8ffbb79449f399c-container {
	width: var(--dplus-members-width);
	background: transparent;
	background-color: var(--dplus-bgc-ui-base) !important; /*member list's background color*/
	border-bottom-left-radius: var(--dplus-radius-ui);
	border-bottom-right-radius: var(--dplus-radius-ui);
}
.visual-refresh .c8ffbb79449f399c-membersWrap, .visual-refresh .c8ffbb79449f399c-membersWrap > div {
	max-width: var(--dplus-members-width)!important;
	min-width: unset;
}
.name-3_Dsmg {
	-webkit-mask-image: -webkit-linear-gradient( left, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0) );
	mask-image: linear-gradient( left, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0) );
}
/*-- 12.7 Server Boost --*/

/*--- 13 Avatars ---*/ /*not fully done*/
.f910d08f42c82225-callAvatarMask foreignObject, ._183c2cc3c55377b0-avatarContainerMasked foreignObject, .avatarHint_f89da9 foreignObject,
._44b0c28be7879b7b-wrapper svg:not(._44b0c28be7879b7b-avatarDecoration) foreignObject {mask: none;} /* this allows profile popout avatars to be rounded with a custom value */
._44b0c28be7879b7b-wrapper [mask="url(#svg-mask-avatar-decoration-status-round-120)"] img,
._44b0c28be7879b7b-wrapper [mask="url(#svg-mask-avatar-decoration-status-round-80)"] img { /* this uncrops the avatar decorations after that line above */
	border-radius: inherit !important;
}
._44b0c28be7879b7b-avatar:not([src^="https://cdn.discordapp.com/avatar-decoration-presets"]), .wrapper-1VLyxH img, .f910d08f42c82225-voiceAvatar, .f910d08f42c82225-border, ._75742e4cc9019aeb-clickable:hover ._75742e4cc9019aeb-overlay:after, .f910d08f42c82225-wrapper.f910d08f42c82225-ringingIncoming:after, .f910d08f42c82225-wrapper.f910d08f42c82225-ringingOutgoing:after, .c19a557985eb7793-avatar, .option-2KkUJO.user-23VtPS .displayAvatar-3XS1w6 {
	border-radius: var(--dplus-radius-avatar) !important; }
	.c19a557985eb7793-avatar.c19a557985eb7793-clickable:active {translate: none;}
	/* In chat avatar decorations*/
	._5126c0cd07f243a0-message .c19a557985eb7793-avatarDecoration {
		height: calc(var(--dplus-icon-avatar-chat) + var(--dplus-icon-avatar-chat) / 5);
		width: calc(var(--dplus-icon-avatar-chat) + var(--dplus-icon-avatar-chat) / 5);
		left: calc(var(--dplus-icon-avatar-chat) / -10 + var(--dplus-spacing-ui));
		top: calc(var(--dplus-icon-avatar-chat) / -10 + var(--dplus-spacing-ui));
		margin: 0;
	}

	.c19a557985eb7793-avatar:not(.c19a557985eb7793-compact) {
		position: absolute;
		margin-top: 0;
		top: var(--dplus-spacing-ui) !important;
		left: var(--dplus-spacing-ui) !important;
		height: var(--dplus-icon-avatar-chat) !important;
		width: var(--dplus-icon-avatar-chat) !important;
	}
	.c19a557985eb7793-cozy.c19a557985eb7793-wrapper {
		padding-left: calc(var(--dplus-icon-avatar-chat) + var(--dplus-spacing-ui) * 2);
	}

	._91a9d7f7e5248a56-avatar .wrapper-1VLyxH {
		width: var(--dplus-icon-avatar-list) !important;
		height: var(--dplus-icon-avatar-list) !important;
	}

	._91a9d7f7e5248a56-avatar {
		margin-right: var(--dplus-spacing-ui);
	}

	._91a9d7f7e5248a56-layout {
		height: calc(var(--dplus-icon-avatar-list) + var(--dplus-spacing-ui));
	}
	._07f9193042954787-avatar {border-radius: var(--dplus-radius-avatar);}

	/*--- 14 Settings ---*/
._960e4207cea8323e-layer, ._23e6b439306f125a-standardSidebarView, ._23e6b439306f125a-contentRegionScroller, ._23e6b439306f125a-sidebarRegionScroller, .visual-refresh ._23e6b439306f125a-standardSidebarView {background-color: transparent!important;}
._23e6b439306f125a-customColumn, ._23e6b439306f125a-contentColumn {
		max-width: 100%;
}
	._23e6b439306f125a-sidebarRegion {
		max-width: 218px;
		margin-right: var(--dplus-spacing-app);
	}
	._23e6b439306f125a-sidebarRegion ._23e6b439306f125a-sidebar {max-width: 218px;}
	.aa8da23faa27393c-headerText {overflow: hidden;}
	._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentRegion {
		max-width: 100%;
	}
	._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentRegion.default,
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion .sidebar {
	padding-top: 45px;
}
._23e6b439306f125a-sidebar {
	padding: calc(30px + var(--dplus-spacing-ui)) var(--dplus-spacing-ui) var(--dplus-spacing-ui) calc(var(--dplus-spacing-ui) * 2)
}
._23e6b439306f125a-contentColumnDefault {
	padding: calc(30px + var(--dplus-spacing-ui)) calc(var(--dplus-spacing-ui) * 2) calc(var(--dplus-spacing-ui) * 2);
}
._7c0bae9243151ddd-horizontal>._7c0bae9243151ddd-flex, ._7c0bae9243151ddd-horizontal>._7c0bae9243151ddd-flexChild {
	margin-left: var(--dplus-spacing-ui);
}

.fd297e0eff2da25e-marginBottom8 {
	margin-bottom: var(--dplus-spacing-ui);
}
.fd297e0eff2da25e-marginBottom40 {
	margin-bottom: calc(10px + var(--dplus-spacing-ui));
}
.fd297e0eff2da25e-marginTop40 {
	margin-top: calc(10px + var(--dplus-spacing-ui));
}

.platform-osx [id="user-settings"] {
	left: -5px !important;
	top: -5px !important;
	right: -5px !important;
	bottom: -5px !important;
}

.platform-win [id="user-settings"] {
	left: -5px !important;
	top: -27px !important;
	right: -5px !important;
	bottom: -5px !important;
}

.platform-linux [id="user-settings"] {
	left: -5px !important;
	top: -5px !important;
	right: -5px !important;
	bottom: -5px !important;
}

#app-mount ._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentRegion,
#app-mount ._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion {
background-color: var(--dplus-bgc-ui-base);
border-radius: var(--dplus-radius-ui);
}
#app-mount ._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentRegion,
#app-mount ._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion,
.itemDefault-3Jdr52,
.itemHover-EnbcjT,
.ui-tab-bar-item,
#app-mount .side-2ur1Qk .itemDefault-3Jdr52:hover,
#app-mount .side-2ur1Qk .itemHover-EnbcjT:hover,
#app-mount #bd-settings-sidebar .ui-tab-bar-item:hover,
#app-mount .c2b141c0f80863fb-closeButton {
transition-property: background-color;
transition-duration: var(--dplus-anim-short);
}
.cardPrimary-3qRT__, .cardPrimaryOutline-1ofwVz {
	background-color: var(--dplus-bgc-button);
	border-radius: var(--dplus-radius-ui);
}

#app-mount .c2b141c0f80863fb-closeButton {
border-color: var(--dplus-accent-ui);
border-radius: var(--dplus-radius-ui);
&:hover {background-color: var(--dplus-bgc-button-hover);}
& path {fill: var(--dplus-accent-ui)!important;}
&:hover path {fill: white}
& + .c2b141c0f80863fb-keybind {color: var(--text-normal)!important;}
}
#app-mount .c2b141c0f80863fb-closeButton
.item-2idW98 {
	background-color: var(--dplus-bgc-ui-base);
	transition: var(--dplus-anim-button);
	border-radius: var(--dplus-radius-ui);
	&:hover:not([aria-checked=true]) {
		background-color: var(--dplus-bgc-radiobar-hover);
	}
	&[aria-checked=true] {
		background-color: var(--dplus-bgc-radiobar-selected);
	}
}
.aa8da23faa27393c-headerText { overflow-x: clip; }

/* My Account */
.settingsBanner_c3e427 {
	width: 100%;
	height: 240px;
	margin-bottom: -140px;
	z-index: -1;
	border-radius: var(--dplus-radius-ui);
}

._1fed1dd06c7aabf7-accountProfileCard {
	backdrop-filter: opacity(1);
}
.settingsBanner_c3e427::after {
	display: block;
	content: "";
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0.667;
}
.theme-light .settingsBanner_c3e427::after { background: white; }
.theme-dark .settingsBanner_c3e427::after { background: black; }
._1fed1dd06c7aabf7-avatar {top: 216px;}
/* User Profile */
.user-profile-sidebar {border-radius: 0 0 var(--dplus-radius-ui) var(--dplus-radius-ui); overflow: hidden;}
/* Avatar Preview */

.overlayAvatar__11787 {
	box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.3);
	&::after {
		content: "";
		box-shadow: 0 0 0 9999px rgba(0,0,0,.6);
		border: 5px solid var(--dplus-accent-ui);
		border-radius: var(--dplus-radius-avatar);
		height: 100%; width: 100%;
		position: absolute;
		left: -5px; top: -5px;
		z-index: 1;
		pointer-events: none;
	}}
	._49fc18ba07c5025f-root:has(.editingContainer__11787>.overlayAvatar__11787) .sliderContainer__11787::after {
		content: var(--dplus-i11n-notice-avatar-crop-preview,--dplus-i11n-missingno);
		color: var(--text-normal);
		position: absolute;
		bottom: 10px;
	}
	/* Billing */
	#app-mount .e9cb00d6250845ad-expandedInfo, #app-mount .codeRedemptionRedirect-3SBiCp {
	background-color: var(--dplus-bg-1) !important;
	border-radius: var(--dplus-radius-ui);
	}
	._01014d2e38bd7c76-bottomDivider.scrollerBase-_bVAAt{overflow: hidden!important;}
	#app-mount .paginator__01014 {background-color: transparent!important;}
	#app-mount ._01014d2e38bd7c76-bottomDivider {border-color: var(--dplus-accent-ui);}
	/* Voice and Video */
	#voice-\&-video-tab { /*Temp fix for the tab endlessly increasing in width */
	max-width: calc(100vw - 274px - var(--dplus-spacing-ui) - var(--dplus-spacing-app)*2);
	box-sizing: border-box;
	}
	.css-gvi9bl-control, .css-6fzn47-control, .css-17e1tep-control {border-color: var(--dplus-accent-ui)!important;}
	.css-3vaxre-menu {
		background-color: var(--dplus-bgc-popout);
		box-shadow: none; border: none;
	}
	#app-mount .bar-1Bhnl9:not(.sliderBar-2T41Pw) {background-color: var(--dplus-bg-1);}
	.bar-1Bhnl9.sliderBar-2T41Pw {opacity: 0.8;}
	.css-1ba14n5-option:hover, .css-rzbxvl-option:hover, .barFill-2Bh7CX {
		background-color: var(--dplus-accent-ui);
	}
	.container_e5cdf3 { /* Fix for Mic Test being long */
		max-width: 560px;
		-webkit-mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOCIgaGVpZ2h0PSIyMCIgZmlsbD0iIzM2MzkzZiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNCAyYTIgMiAwIDAgMC0yIDJ2MTJhMiAyIDAgMSAwIDQgMFY0YTIgMiAwIDAgMC0yLTJ6Ii8+PC9zdmc+');
		mask: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iOCIgaGVpZ2h0PSIyMCIgZmlsbD0iIzM2MzkzZiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNCAyYTIgMiAwIDAgMC0yIDJ2MTJhMiAyIDAgMSAwIDQgMFY0YTIgMiAwIDAgMC0yLTJ6Ii8+PC9zdmc+');
	}
	.progress_e5cdf3 {
		height: 20px !important;
	}
	#app-mount .userSettingsVoice-1_dzjw .previewOverlay-2reuWf {
	background-color: transparent;
	border-color: var(--background-accent);
	}


	/* Overlay */
	.e03935f4f4b2af0c-option, .e03935f4f4b2af0c-wrapper, .e03935f4f4b2af0c-selected.e03935f4f4b2af0c-option {border-radius: var(--dplus-radius-ui);}
	.e03935f4f4b2af0c-option {background-color: var(--dplus-bg-1);}
	.e03935f4f4b2af0c-wrapper {border-color: var(--dplus-accent-ui);}
	.e03935f4f4b2af0c-selected.e03935f4f4b2af0c-option, .e03935f4f4b2af0c-option:hover {background-color: var(--dplus-accent-ui);}
	/* Keybinds */
	.removeKeybind-2YVgVG { right: -17px; top: 2px;}
	#app-mount ._4bb93312e84f332e-card ._9a4069fa4e39ed8d-button {
	background-color: transparent;
	border-radius: var(--dplus-radius-ui);
	box-shadow: none;
	}


	/* Switches, Checkboxes, Buttons */
	button, [type="button"] {
		border-radius: var(--dplus-radius-ui) !important;
	}
	button,
[type="button"] {
	transition: var(--dplus-anim-button) !important;
}

._3f21e80f8677ec40-container svg path, svg.bd-switch-symbol {display:none;}
._3f21e80f8677ec40-container._3f21e80f8677ec40-checked, .bd-switch-checked .bd-switch-body {background-color: var(--dplus-accent-ui) !important;}


/* Dropdown Menus */
.lookFilled__3f413.a16aea1526925c2c-select {
	background: var(--dplus-bgc-ui-base);
	border-color: transparent;
}

/* Server settings */
.avatarUploaderInner-Oiob_P {border-radius: var(--dplus-radius-avatar);}
.avatarUploader-2yeaMv .avatarUploaderInnerSquare-2UOXj4, .avatarUploaderDisabled-310UAf .avatarUploaderInnerSquare-2UOXj4 {
	background-size: contain;
}
._1fed1dd06c7aabf7-fieldList {
	background-color: transparent;
}
.scroller_ff90b2, #app-mount .headerClickable-2IVFo9, #app-mount .headerDefault-1wrJcN {background: transparent;}
.select_d48ec6 .Select-menu-outer, #app-mount .auditLog-3jNbM6, ._0ed4fc708cdbac0d-input {
	background: var(--dplus-bgc-ui-card) !important;
	border-color: var(--dplus-accent-ui) !important;
	border-radius: var(--dplus-radius-ui) !important;
}
.fffc15720e237bf1-copyInput,
.Select .Select-control,
.Select.is-open .Select-control {
	border-radius: var(--dplus-radius-ui) !important;
}

#app-mount .colorPickerCustom-1swUKF {
background: transparent;
border-color: var(--dplus-accent-ui); border-radius: var(--dplus-radius-ui);
}

/* Expressions */
/* Emoji */

/* Audit Log */

/* Accessibility / a11y */
/* Font sizes */
html[style^="font-size: 75%;"] { --chat-font-scaling: 0.75; }
html[style^="font-size: 87.5%;"] { --chat-font-scaling: 0.875; }
html[style^="font-size: 93.75%;"] { --chat-font-scaling: 0.9375; }
.a11y-font-scaled-down .c19a557985eb7793-cozy.c19a557985eb7793-wrapper {
	padding-left: calc(var(--dplus-icon-avatar-chat) * var(--chat-font-scaling) + var(--dplus-spacing-ui) * 2);
}
.a11y-font-scaled-down .c19a557985eb7793-cozy.c19a557985eb7793-wrapper .c19a557985eb7793-avatar {
	width: calc(var(--dplus-icon-avatar-chat) * var(--chat-font-scaling)) !important;
	height: calc(var(--dplus-icon-avatar-chat) * var(--chat-font-scaling)) !important;
}

/*--- 15 Client mod specific ---*/

/*-- 15.1 BetterDiscord --*/
/*- 15.1.1 Addon lists -*/
.bd-addon-list.bd-grid-view {
	column-gap: var(--dplus-spacing-ui);
	row-gap: var(--dplus-spacing-ui);
}
.bd-addon-list .bd-addon-card {
	background: var(--dplus-bgc-ui-card);
	border: none; border-radius: var(--dplus-radius-ui) !important;
	max-height: 100%;
	padding: var(--dplus-spacing-ui);
	margin-bottom: var(--dplus-spacing-ui);
}
.bd-addon-list .bd-addon-header,
.bd-description-wrap,
.bd-addon-list .bd-footer {
	padding: var(--dplus-spacing-ui);
}
.bd-addon-list .bd-addon-header {
  background: transparent;
	border-bottom: 1px solid var(--dplus-accent-ui);

}
.bd-search-wrapper, .bd-select .bd-select-option:hover, .bd-select .bd-select-option.selected { background: var(--dplus-bgc-ui-card);}
.bda-slist .bda-header {
	font-size: 14px;
	line-height: 1.25;
	padding-bottom: 5px;
}
.bda-slist .bda-description {
	max-height: 100%;
	overflow-y: hidden;
	padding: 0;
	padding-bottom: 2px;
}
.bda-slist .bda-footer, .bda-slist .bda-header {border: none;}
.bda-name, .bda-author {
	font-size: 16px;
}
.bd-meta a.bd-link.bd-link-website {
	color: var(--dplus-accent-ui);
}
.bda-links {
	font-size: 0;
	& .bda-link {
		font-size: 12px;
	}
	&:not(:first-of-type) {
		margin-left: 10px;
	}
}
.theme-dark .bda-slist .bda-header, .theme-dark .bda-slist .bda-description  { color: white; }

/*- 15.1.1 Toast Notifications -*/
.toast, .bd-toast {
	opacity: 0.7;
	background: var(--dplus-accent-ui)!important;
	border-radius: var(--dplus-radius-ui)!important;
}
