/* i11n */
/* Explanation: First, the source string shown for if a language is missing, which should be clearly worded, then, the actual localizated languages in the order they appear inside the Discord app. */

html { --dplus-i11n-notice-avatar-crop-preview: "The colored outline shows the border-radius of discord-plus."; }
/* This message clarifies the accent colored square/circle in the avatar crop tool. */
/*[lang="da"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="de"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
[lang="en-US"] { --dplus-i11n-notice-avatar-crop-preview: "The colored outline shows the discord-plus border-radius."; }
[lang="en-GB"] { --dplus-i11n-notice-avatar-crop-preview: "The coloured outline displays the border-radius of discord-plus."; }
/*[lang="es-ES"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="es-419"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="fr"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="hr"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="it"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="lt"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="hu"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="nl"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
[lang="no"] { --dplus-i11n-notice-avatar-crop-preview: "Den fargede utlinjen viser discord-plus border-radius."; }
/*[lang="pl"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
[lang="pt-BR"] { --dplus-i11n-notice-avatar-crop-preview: "A borda colorida demonstra border-radius do discord-plus."; }
/*[lang="ro"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="fi"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="sv-SE"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="vi"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="tr"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="da"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="cs"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="el"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="bg"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="ru"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="uk"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="hi"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="th"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="zh-CN"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="ja"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="zh-TW"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/
/*[lang="ko"] { --dplus-i11n-notice-avatar-crop-preview: ""; }*/


html { --dplus-i11n-error-nitrotheme: "You have set a Nitro color theme, and must change to a light theme or dark theme to prevent issues."; }
/* This message will appear if there are issues with Nitro color themes. */
/*[lang="da"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="de"] { --dplus-i11n-error-nitrotheme: ""; }*/
[lang="en-US"] { --dplus-i11n-error-nitrotheme: "Switch your Discord theme in Settings>Appearance to a light theme or dark theme to prevent issues with Nitro color themes."; }
[lang="en-GB"] { --dplus-i11n-error-nitrotheme: "Switch your Discord theme in Settings>Appearance to a light theme or dark theme to prevent issues with Nitro colour themes."; }
/*[lang="es-ES"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="es-419"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="fr"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="hr"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="it"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="lt"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="hu"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="nl"] { --dplus-i11n-error-nitrotheme: ""; }*/
[lang="no"] { --dplus-i11n-error-nitrotheme: "Bytt ditt Discord tema i Innstillinger>Utseende til et lyst eller mørkt tema for å unngå problemer med Nitro fargetemaer."; }
/*[lang="pl"] { --dplus-i11n-error-nitrotheme: ""; }*/
[lang="pt-BR"] { --dplus-i11n-error-nitrotheme: "Mude seu tema no Discord em Config.>Aparência para um tema claro ou tema escuro para evitar problemas com temas de cor Nitro."; }
/*[lang="ro"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="fi"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="sv-SE"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="vi"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="tr"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="da"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="cs"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="el"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="bg"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="ru"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="uk"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="hi"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="th"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="zh-CN"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="ja"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="zh-TW"] { --dplus-i11n-error-nitrotheme: ""; }*/
/*[lang="ko"] { --dplus-i11n-error-nitrotheme: ""; }*/

html { --dplus-i11n-error-discordcrash-title: "Congratulations!"; }
/* This message appears if Discord crashes, replacing the original crash message with an ironic celebration. */
/*[lang="da"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="de"] { --dplus-i11n-error-discordcrash-title: ""; }*/
[lang="en-US"] { --dplus-i11n-error-discordcrash-title: "Congratulations!"; }
[lang="en-GB"] { --dplus-i11n-error-discordcrash-title: "Congratulations!"; }
/*[lang="es-ES"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="es-419"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="fr"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="hr"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="it"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="lt"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="hu"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="nl"] { --dplus-i11n-error-discordcrash-title: ""; }*/
[lang="no"] { --dplus-i11n-error-discordcrash-title: "Gratulerer!"; }
/*[lang="pl"] { --dplus-i11n-error-discordcrash-title: ""; }*/
[lang="pt-BR"] { --dplus-i11n-error-discordcrash-title: "Parabens!"; }
/*[lang="ro"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="fi"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="sv-SE"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="vi"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="tr"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="da"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="cs"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="el"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="bg"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="ru"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="uk"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="hi"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="th"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="zh-CN"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="ja"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="zh-TW"] { --dplus-i11n-error-discordcrash-title: ""; }*/
/*[lang="ko"] { --dplus-i11n-error-discordcrash-title: ""; }*/


html { --dplus-i11n-error-discordcrash-body: "You have unlocked discord-minus!"; }
/* (Cont.) Self-explanatory. */
/*[lang="da"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="de"] { --dplus-i11n-error-discordcrash-body: ""; }*/
[lang="en-US"] { --dplus-i11n-error-discordcrash-body: "You unlocked discord-minus!"; }
[lang="en-GB"] { --dplus-i11n-error-discordcrash-body: "You've unlocked discord-minus!"; }
/*[lang="es-ES"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="es-419"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="fr"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="hr"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="it"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="lt"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="hu"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="nl"] { --dplus-i11n-error-discordcrash-body: ""; }*/
[lang="no"] { --dplus-i11n-error-discordcrash-body: "Du har låst opp discord-minus!"; }
/*[lang="pl"] { --dplus-i11n-error-discordcrash-body: ""; }*/
[lang="pt-BR"] { --dplus-i11n-error-discordcrash-body: "Você desbloqueou discord-minus!"; }
/*[lang="ro"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="fi"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="sv-SE"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="vi"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="tr"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="da"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="cs"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="el"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="bg"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="ru"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="uk"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="hi"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="th"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="zh-CN"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="ja"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="zh-TW"] { --dplus-i11n-error-discordcrash-body: ""; }*/
/*[lang="ko"] { --dplus-i11n-error-discordcrash-body: ""; }*/

html { --dplus-i11n-error-discordcrash-note: "Actually, the Discord application has stopped working, and discord-minus does not exist. Sorry."; }
/* (Cont.) Self-explanatory. */
/*[lang="da"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="de"] { --dplus-i11n-error-discordcrash-note: ""; }*/
[lang="en-US"] { --dplus-i11n-error-discordcrash-note: "Actually, the Discord app just crashed, and there's no discord-minus. Sorry."; }
[lang="en-GB"] { --dplus-i11n-error-discordcrash-note: "Actually, the Discord application has crashed, and there is no discord-minus. Sorry."; }
/*[lang="es-ES"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="es-419"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="fr"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="hr"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="it"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="lt"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="hu"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="nl"] { --dplus-i11n-error-discordcrash-note: ""; }*/
[lang="no"] { --dplus-i11n-error-discordcrash-note: "Egentlig, sluttet Discord-appen å fungere, og discord-minus fins ikke. Beklager."; }
/*[lang="pl"] { --dplus-i11n-error-discordcrash-note: ""; }*/
[lang="pt-BR"] { --dplus-i11n-error-discordcrash-note: "Na verdade, o applicativo Discord parou de funcionar, e discord-minus não existe. Perdoe-me."; }
/*[lang="ro"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="fi"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="sv-SE"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="vi"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="tr"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="da"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="cs"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="el"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="bg"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="ru"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="uk"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="hi"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="th"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="zh-CN"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="ja"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="zh-TW"] { --dplus-i11n-error-discordcrash-note: ""; }*/
/*[lang="ko"] { --dplus-i11n-error-discordcrash-note: ""; }*/
